.first-article-section {
    display: flex;
}

.first-image-article {
    width: 80% ; 
    margin-right: 30px ; 
}

aside {
    width: 20% ; 
}

h3 {
    margin-bottom: 8px ;
}
nav ul li {
    list-style: square;
}
nav ul li a {
    text-decoration: none;
    color: green ; 
}



