@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css' ; 

* {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* styles for header section */
header {
    background-color: #9ACB34 ; 
    color: white;
    text-align: center;
    padding: 30px 0;
}
h3 {
    font-weight: 400;
}
.header-text{
    padding-top: 10px ; 
}
/* styles for contacts section */

.contacts, .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #9B9B9B;

}
.contact-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 30px ;
}

.green {
    color: #9ACB34 ;
    font-weight: bold;
    margin-left: 5px ; 
}

/* styles for form container */
/* map wrapper */
.form-container {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    color: #9B9B9B;
    padding: 20px 50px;
}
.map-wrapper{
    margin-left: 20px;
    align-self: center;
}
img {
    width: 450px ; 
    height: 320px ; 
}
.map-wrapper p {
    font-size: 12px ; 
    width: 70%;    
}
span {
    color: #9ACB34 ; ;
}
/* form wrapper */

label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    position: relative ; 
}

.user-and-mail, .pass-fields {
    display: flex ; 
    margin-bottom: 20px;
}

input {
    padding: 5px ;
    margin-top: 10px ; 
}

i {
    position: absolute;
    top: 35px ; 
    left: 160px;
}
button {
    color: white ;
    background-color: #9ACB34 ; 
    padding: 8px ;
    margin-top: 10px ; 
    outline: none;
    border: none ; 
}