table {
    width: 60% ; 
    border-collapse: collapse;
}
table, td, th {
    border-width: 1px ;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}
table th {
    background-color: rgb(180, 176, 176) ; 
    text-align: left;
    padding: 4px ;
}

tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

table tr td {
    padding: 3px ;
}

tbody tr:hover{
    color: rgb(255, 255, 255) ; 
    background-color: black;

}