body {
    font: 16px Arial, Helvetica, sans-serif;
    margin: 10px 40px ; 
}

header {
    border-bottom: 2px solid grey;
}
h1 {
    display: inline-block;
    text-transform: uppercase;
}

nav {
    display: inline-block;
    margin-left: 60px ;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px  ;
}
nav ul li a {
    color: #008000 ; 
    text-decoration: none;
    font-weight: bold ;
}
