@import url('https://fonts.google.com/specimen/Open+Sans') ; 
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css') ; 

body {
    font: 16px/1.5 "Open Sans", sans-serif ; 
    background-color: rgb(233, 233, 233) ; 
}

section {
    width: 60% ; 
    margin: 50px auto ; 
    background-color: white ; 
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4) ; 
    border-radius: 1px ; 
}

article.picture-side {
    color: white ;  
}

.picture-side .text-box {
    padding: 20%  ;
}

.picture-side .softuni {
    font-size: 10px ; 
    font-weight: 600 ; 
    text-align: left ; 
    position: relative ; 
    bottom: 100px ; 
    right: 80px ;
}

.picture-side .text-box h2 {
    font-weight: 600 ; 
}


.picture-side .icons {
    text-align: center ; 
}
img {
    max-width: 100% ; 
    padding: 5% ; 
}

section article.picture-side {
    background: url('images/cover.jpg') no-repeat center center ; 
    background-size: cover ;     
    color: white ; 
}

section article img {
    width: 30% ; 
    position: absolute ; 
}

section article.text-box {
    position: relative ; 
    bottom: 50px ; 
}

.softuni {
    font-size: 6px ; 
    font-weight: bold ; 
    text-align: left ; 
}

.picture-side h2,
.picture-side p {
    text-align: center ; 
}

section article {
    display: inline-block; 
    vertical-align: top ; 
    padding: 5% ; 
    width: 38% ; 
}

article form {
    display: flex ; 
    flex-direction: column ; 
    justify-content: space-between ; 
}

article form label {
    border-bottom: 1px solid grey ; 
    font-size: 14px ; 
    opacity: 0.5 ; 
}

article form label input {
    outline: none ; 
    border: none ; 
    padding-left: 10px ; 
    margin-top: 3px ; 
    opacity: 0.8 ; 
}

form div {
    padding-top: 20px ; 
    display: flex ; 
    justify-content: left ; 
}

article form div button {
    background-color: rgb(17, 17, 17);
    outline: none ; 
    border: none ; 
    color: white ; 
    text-align: center ; 
    border-radius: 12px ;
    font-size: 14px ; 
    width: 40% ;
    height: 30% ; 
    padding: 1px 15px 1px 15px  ;    
}

form p a {
    padding-left: 15px ; 
    font-size: 10px ; 
    color: grey ; 
}

