body {
    background: #EEEEEE;
}

.photo-gallery{
    margin: 20px 20px ; 
    box-sizing: border-box ;
}

ul li {
    margin: 10px ; 
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    padding: 10px ; 
    border: 5px solid black ; 
}

ul li img {
    width: 100% ;
}