@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

body {
    background-color: #D3D3D3;
    font-family: 'Karla', sans-serif;
}
h1 {
    text-align: center;
    margin-bottom: 0 ; 
}
section {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    padding: 0 25px;
}
article{
    background-color: #87CEEB;
    border: 2px solid blue ; 
    border-radius: 10px ; 
    padding: 20px ;
    margin: 20px; 
    text-align: center;
}

img {
    width: 300px ; 
    height: 200px ; 
    
}
span {
    font-weight: bold;
}
.btn {
    background-color: #D3D3D3;
    border: 1px solid blue ; 
    border-radius: 10px ; 
    padding: 8px ; 
    margin-top: 10px ; 
}