@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css' ; 

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ; 
}

section {
    padding: 30px;
    width: 50% ; 
}

.normal-btns{
    background-color: rgb(251, 251, 251) ; 
    border: 2px solid rgb(51, 51, 51) ; 
    color: rgb(51, 51, 51) ;  
    padding: 7px 15px ; 
    border-radius: 18px ; 
    font-weight: bold;
    margin-right: 10px ; 
    outline: none ; 
}

.normal-btns:hover {
    border: 2px solid green ; 
    color: green ; 
    cursor: pointer;
}

.filled-btns{
    background-color: rgb(51, 51, 51) ; 
    border: none ; 
    color: rgb(251, 251, 251) ;  
    padding: 8px 18px ; 
    border-radius: 18px ; 
    font-weight: bold;
    margin-right: 10px ; 
    outline: none ; 
}

.filled-btns:hover {
    background-color: green ; 
    color: white ; 
    cursor: pointer;
}

.icon-btns{
    background-color: rgb(51, 51, 51) ; 
    border: none ; 
    color: rgb(251, 251, 251) ;  
    padding: 8px 18px ; 
    border-radius: 18px ; 
    font-weight: bold;
    margin-right: 10px ; 
    outline: none ; 
}

.icon-btns:hover {
    background-color: green ; 
    color: white ; 
    cursor: pointer;
}

.icon-btns i {
    margin-right: 5px;
}


